*.nupkg
obj/
[Bb]in
[Dd]ebug*/
[Rr]elease*/
_ReSharper*/
*.resharper
*.csproj.user
TestResult.xml
*.suo
*.docstates
*.ReSharper.user
*.orig
*.DotSettings.user
*.DS_Store
packages
*.squishit.debug.css
.sass-cache
packages/
/node_modules
